{% load static %}
<div id="bottom">
    <nav>
      <ul id="nav-group">
        <li class="nav-btn">
          <a href="" class="nav-btn-text">
            <img src="{% static '/images/dashboard-mobile.png' %}" alt="dasboard" >
            <p>Dashboard</p>
            </a
          >
        </li>
        <li class="nav-btn">
          <a href="" class="nav-btn-text">
            <img src="{% static '/images/course-mobile.png' %}" alt="courses" >
            <p>Courses</p>
            </a
          >
        </li>
        <li class="nav-btn">
          <a href="" class="nav-btn-text">
            <img src="{% static '/images/quiz-mobile.png' %}" alt="quiz" >
            <p>Quiz</p>
            </a
          >
        </li>
        <li class="nav-btn">
          <a href="" class="nav-btn-text">
            <img src="{% static '/images/settings-mobile.png' %}" alt="settings" >
            <p>Settings</p>
          </a
          >
        </li>
      </ul>
    </nav>
  </div>