{% load static %}

<div id="side">
    <nav>
      <div id="hamburger">
        <span class="dash"></span>
        <span class="dash"></span>
        <span class="dash"></span>
      </div>
      <ul id="side-drawer">
        
        <li class="side-btn">
          <a href="{% url 'student_dashboard' %}" class="side-btn-text">
            <img src="{% static '/images/dashboard-white.png' %}" alt="quiz"  class="nav-img">
            <p class="nav-text">Dashboard</p>
            </a
          >
        </li>
        <li class="side-btn">
          <a href="{% url 'student_courses' %}" class="side-btn-text">
            <img src="{% static '/images/course-white.png' %}" alt="quiz"  class="nav-img">

           <p class="nav-text"> Courses</p>
            </a
          >
        </li>
        <li class="side-btn">
          <a href="" class="side-btn-text">
            <img src="{% static '/images/quiz-white.png' %}" alt="quiz"  class="nav-img">
            <p class="nav-text">Quiz</p>
            </a
          >
        </li>
        <li class="side-btn">
          <a href="" class="side-btn-text">
            <img src="{% static '/images/settings-white.png' %}" alt="quiz"  class="nav-img">
            <p class="nav-text">
              Settings
            </p>
            </a
          >
        </li>
      </ul>
    </nav>
</div>

 

