
#module-header{
    align-items: center;


}
#module-header-img{
    display: block;
    margin: 1rem auto 0 auto;
    width: 95%;
    height: 200px;
    object-fit: cover;

}
#module-header div{
    width: 95%;
    height: 210px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    margin-top: -210px;
    margin-left: auto;
    margin-right: auto;

}

#module-heading{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: var(--color-primary-white-500);
    text-align: center;
}

#contents{
    width: 95%;
    margin: 1rem auto;
    display: flex;
    border-radius: 10px;
    background-color: var(--color-primary-white-500);
}

#side-drawer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(8, 122, 216);
    padding: 1rem;
}


.hambuger{
    font-size: 2rem;
    padding: .5rem;
    border-radius: 3px;
    /* transform: rotate(180deg); */
    transition: transform ease-out .8s;
    color: white;
}
.hambuger.active{
    transform: rotate(180deg);
    transition: transform ease-out .8s;
}

.question-group{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
    width: 200px;
    transition: width ease-in-out .1s;

}

.question-group.active{
    display: flex;
    flex-direction: column;

    /* grid-template-columns: 1fr; */
    width: 50px;
    transition: width ease-in .1s;
    overflow: auto; 

}

.question-no{
    width: 30px;
    padding: .5rem;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(8, 122, 216, .2);
    background-color: rgb(196, 193, 193);
    color: rgb(2, 2, 160);
    text-align: center;
    font-weight: bold;
    align-items: center;
    font-size: 1rem;
}
.question-no.active{
    color: white;
    background-color: blue !important; 
}
.question-no.answered{
    color: white;
    background-color: green;
}
.question-no.correct{
    color: white;
    background-color: green;
}
.question-no.wrong{
    color: white;
    background-color: red;
}
.question-no.partial{
    color: white;
    background-color: orange;
}
#questions{
    background-color: white ;
    width: 100%;
}

.quiz-content{
    display: none;
   
   background-color: white;
   padding: 1rem 1rem;
   top: 0;
}
.quiz-content.active{
   /* display: block; */
   display: block;
}

.quiz-question,
.quiz-options{
   border: solid 1px rgb(8, 122, 216);
   border-radius: 10px;
   padding: 1rem;
   margin: 0 0 2rem 0;

}
.quiz-question{
   margin-bottom: 2rem;
}

h2{
   color: rgb(8, 122, 216);
   font-size: 2rem;

}

.question{
   font-size: 1.5rem;
   line-height: 1.5;

}

input,
label{
   display: block;
}

.option-group{
   display: flex;
   gap: 1.5rem;
   margin-bottom: 1.5rem;
   align-items: center;
}
.option-group.correct{
   background-color: rgba(158, 252, 115, 0.5);
}
.option-group.wrong{
   background-color: rgba(247, 99, 99, 0.5);
}
.option-check{
   width: 30px;
   height: 30px;
   margin: 0;
}

.option-label{
   width: 90%;
   font-size: 1.5rem;
   margin: 0;
   line-height: 1.5;
}

#buttons{
   bottom: 0;
   width: 300px;
   margin:  0 auto;
   display: flex;
   justify-content: space-evenly;
   padding: 1rem;
   
}

.nav-button,
.submit-button,
.finish-button{
   padding: 1rem .5rem;
   color: white;
   background-color: rgb(8, 122, 216);
   border-radius: 5px;
   font-size: 1rem;
}
.nav-button.pointer{
   background-color: rgb(191, 193, 196);
   color: rgb(2, 2, 160);
   pointer-events: none;
}

.submit-button,
.finish-button{
   padding: 1rem 1rem;
   background-color: green;
   text-decoration: none;
}