{% extends 'base.html' %}
{% load static %}
{% block css_link %} 
    <link rel="stylesheet" href="{% static 'styles/module_page.css' %}">
    <script  defer src="{% static 'script/module_page.js' %}"></script>

{% endblock  %}
{% block title %}Dashboard{% endblock  %}
{% block  navigation%}
{% endblock  %}
{% block  main %}
    <main>
        <div id="module-header" >
            <img src="{% static '/images/images2.jpg' %}" alt="" id="module-header-img">
            <div>
                <nav>
                    <ul >
                        <li>
                            <a href="" class = "title-nav-link">Home</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="" class = "title-nav-link" > Introduction to GIS for Microplanning</a>
                        </li>
                    </ul>
                </nav>
                <p id="module-heading">Introduction to GIS for Microplanning</p>
            </div>
        </div>
        <div id="contents">
            <div id="description">
                <h1>Course Outline</h1>
                <div id="description-text">
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content 
                        of a page when looking at its layout. The point of using Lorem Ipsum is that it has a 
                        more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                            making it look like readable English. Many desktop publishing packages and web page editors now 
                            use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover 
                            many web sites still in their infancy. Various versions have evolved over the years, sometimes 
                            by accident, sometimes on purpose (injected humour and the like).
                    </p>
                    <ul>
                        <li>by accident, sometimes on purpose (injected humour and the like).
                        </li>
                        <li>by accident, sometimes on purpose (injected humour and the like).
                        </li>
                        <li>by accident, sometimes on purpose (injected humour and the like).
                        </li>
                        <li>by accident, sometimes on purpose (injected humour and the like).
                        </li>
                    </ul>
                </div>
            </div>
            <div class="materials">
                <div class="materials-heading">
                    <p>Training Material</p>
                    <span class="expand"> &#x27A4</span>                         
                </div>
                <iframe src="{% static '/images/GIS Training Programme - Information and Outline.pdf' %}" frameborder="0"></iframe>
            </div>
            <div class="materials">
                <div class="materials-heading">
                    <p>Training Material</p>
                    <span class="expand"> &#x27A4</span>                         
                </div>
                <iframe src="{% static '/images/GIS Training Programme - Information and Outline.pdf' %}" frameborder="0"></iframe>
            </div>
            <div class="quiz">
                    <p id="quiz-button">Take Quiz <span>&#x27A4</span></p>
            </div>
        </div>
    </main>
    
        
    
{% endblock  %}