{% extends 'base.html' %}
{% load static %}
{% block css_link %} 
    <link rel="stylesheet" href="{% static 'styles/module_page.css' %}">
    <script  defer src="{% static 'script/module_page.js' %}"></script>

{% endblock  %}
{% block title %}Dashboard{% endblock  %}
{% block  navigation%}
{% endblock  %}
{% block  main %}
    <main>
        <div id="module-header" >
            <img src="{% static '/images/images2.jpg' %}" alt="" id="module-header-img">
            <div>
                <p id="module-heading">Introduction to GIS for Microplanning</p>
            </div>
        </div>
        <div id="contents">
            <div id="side-drawer">
                <span class="hambuger">&#x21E4</span>
                <div class="question-group">
                    <p class="question-no">1</p>
                    <p class="question-no">2</p>
                    <p class="question-no">3</p>
                    <p class="question-no">4</p>
                    <p class="question-no">5</p>
                    <p class="question-no">6</p>
                    <p class="question-no">7</p>
                    <p class="question-no">8</p>
                    <p class="question-no">9</p>
                    <p class="question-no">10</p>
                    <p class="question-no">113</p>
                </div>
            
            </div>
            <div id="questions">
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 1</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 2</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 3</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 4</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 5</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 6</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 7</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 8</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div class="quiz-content">
                    <div class="quiz-question">
                    <h2>Question 9</h2>
                    <p class="question">
                        What is a noun?A noun is the name of a person, animal, place or
                        thing,A noun is the name of a person, animal, place or thing
                    </p>
                    </div>
                    <div class="quiz-options">
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing."
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing,A noun is
                        the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    <div class="option-group">
                        <input
                        class="option-check"
                        type="checkbox" value="A noun is the name of a person, animal, place or thing"
                        name="optionA"
                        id="optionA"
                        />
                        <label for="optionA" class="option-label">
                        A noun is the name of a person, animal, place or thing</label
                        >
                    </div>
                    </div>
                </div>
                <div id="buttons">
                    <div class="nav-button">Prev</div>
                    <div class="submit-button">Submit</div>
                    <div class="nav-button">Next</div>
                </div>
            </div>
        </div>
    </main>
    
        
    
{% endblock  %}