{% extends 'base.html' %}
{% load static %}
{% block css_link %} 
    <link rel="stylesheet" href="{% static 'styles/includes/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <script  defer src="{% static 'script/dashboard.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock  %}
{% block title %}Dashboard{% endblock  %}
{% block  navigation%}
{% include "./includes/bottom_nav.html" %}
{% endblock  %}
{% block  main %}
    <main>
        <div id='side-navigation'>
            {% include "./includes/side_nav.html" %}
        </div>
        <div id="contents">
            <h1>hello Ahmad!</h1>
            <section id="main-section">
                
                <div class="summary">
                    <img
                    src= "{% static '/images/course-mobile.png' %}"
                    alt="students summary"
                    id="summary-icon1"
                    />
                    <div class="summary-text">
                    <p class="summary-value">4</p>
                    <h2 class="summary-title">courses</h2>
                    </div>
                </div>
                <div class="summary">
                    <img
                    src="{% static '/images/book.png' %}"
                    alt="teachers summary"
                    id="summary-icon2"
                    />
                    <div class="summary-text">
                    <p class="summary-value">21</p>
                    <h2 class="summary-title">Modules</h2>
                    </div>
                </div>
                <div class="summary">
                    <img
                    src="{% static '/images/underperform.png' %}"
                    alt="visitation summary"
                    id="summary-icon3"
                    />
                    <div class="summary-text">
                    <p class="summary-value">9%</p>
                    <h2 class="summary-title">
                        finished <br />
                        Modules
                    </h2>
                    </div>
                </div>
                <div class="summary">
                    <img src="{% static '/images/quiz-dark.png' %}" alt="quiz summary" id="summary-icon4" />
                    <div class="summary-text">
                    <p class="summary-value">83%</p>
                    <h2 class="summary-title">
                        Finished <br />
                        quiz
                    </h2>
                    </div>
                </div>
                <div id="course-enroll">
                    <h3>Courses in progress</h3>
                    <div class="course-card">
                        <img src="{% static '/images/images2.jpg' %}" alt="" class="course-card-img">
                        <div class="course-card-text">
                            <p class="course-card-author">Al-amin Ahmad Abbas</p>
                            <h4 class="course-card-title">Introduction to GIS for Microplanning </h4>
                             <div class="progress-container">
                                <p class= "course-card-modules">
                                    8 Modules
                                </p>
                                <div class="course-card-progress">
                                    <canvas class="progress-chart" width="80px"></canvas>
                                    <p class="course-progress-text">100%</p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                    <div class="course-card">
                        <img src="{% static '/images/images2.jpg' %}" alt="" class="course-card-img">
                        <div class="course-card-text">
                            <p class="course-card-author">Al-amin Ahmad Abbas</p>
                            <h4 class="course-card-title">Introduction to GIS for Microplanning </h4>
                             <div class="progress-container">
                                <p class= "course-card-modules">
                                    8 Modules
                                </p>
                                <div class="course-card-progress">
                                    <canvas class="progress-chart" width="80px"></canvas>
                                    <p class="course-progress-text">65%</p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                    <div class="course-card">
                        <img src="{% static '/images/images2.jpg' %}" alt="" class="course-card-img">
                        <div class="course-card-text">
                            <p class="course-card-author">Al-amin Ahmad Abbas</p>
                            <h4 class="course-card-title">Introduction to GIS for Microplanning </h4>
                             <div class="progress-container">
                                <p class= "course-card-modules">
                                    8 Modules
                                </p>
                                <div class="course-card-progress">
                                    <canvas class="progress-chart" width="80px"></canvas>
                                    <p class="course-progress-text">10%</p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                    <div class="course-card">
                        <img src="{% static '/images/images2.jpg' %}" alt="" class="course-card-img">
                        <div class="course-card-text">
                            <p class="course-card-author">Al-amin Ahmad Abbas</p>
                            <h4 class="course-card-title">Introduction to GIS for Microplanning </h4>
                             <div class="progress-container">
                                <p class= "course-card-modules">
                                    8 Modules
                                </p>
                                <div class="course-card-progress">
                                    <canvas class="progress-chart" width="80px"></canvas>
                                    <p class="course-progress-text">50%</p>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </div>
                <div id="module-progress">
                    <h3>Modules Progress</h3>
                    <ul>
                    <li class="module">
                        <img
                            src="{% static '/images/images2.jpg' %}"
                            alt="Bilal Babale"
                            class="module-image"
                        />
                        <div class="module-info">
                        <div class="module-title">
                            <h4>Introduction to GIS for Microplanning</h4>
                            <a href="" class="course-name">
                                <p>Introduction to GIS for Microplanning</p>
                            </a>
                        </div>
                        <div class="training-material">
                            <p class="value">2</p>
                            <h2 class="title">materials</h2>
                        </div>
                        <div class="quizes">
                            <p class="value">2</p>
                            <h2 class="title">Quizes</h2>
                        </div>
                        </div>
                        <div class="completion">
                        <canvas class="module-chart" width="60px" ></canvas>
                        <p class="value">55%</p>
                        <h2 class="title">Completed</h2>
                        </div>
                    </li>
                    <li class="module">
                        <img
                            src="{% static '/images/images2.jpg' %}"
                            alt="Bilal Babale"
                            class="module-image"
                        />
                        <div class="module-info">
                        <div class="module-title">
                            <h4>Introduction to GIS for Microplanning</h4>
                            <a href="" class="course-name">
                                <p>Introduction to GIS for Microplanning</p>
                            </a>
                        </div>
                        <div class="training-material">
                            <p class="value">2</p>
                            <h2 class="title">materials</h2>
                        </div>
                        <div class="quizes">
                            <p class="value">2</p>
                            <h2 class="title">Quizes</h2>
                        </div>
                        </div>
                        <div class="completion">
                        <canvas class="module-chart" width="60px" ></canvas>
                        <p class="value">55%</p>
                        <h2 class="title">Completed</h2>
                        </div>
                    </li>
                    <li class="module">
                        <img
                            src="{% static '/images/images2.jpg' %}"
                            alt="Bilal Babale"
                            class="module-image"
                        />
                        <div class="module-info">
                        <div class="module-title">
                            <h4>Introduction to GIS for Microplanning</h4>
                            <a href="" class="course-name">
                                <p>Introduction to GIS for Microplanning</p>
                            </a>
                        </div>
                        <div class="training-material">
                            <p class="value">2</p>
                            <h2 class="title">materials</h2>
                        </div>
                        <div class="quizes">
                            <p class="value">2</p>
                            <h2 class="title">Quizes</h2>
                        </div>
                        </div>
                        <div class="completion">
                        <canvas class="module-chart" width="60px" ></canvas>
                        <p class="value">55%</p>
                        <h2 class="title">Completed</h2>
                        </div>
                    </li>
                    <li class="module">
                        <img
                            src="{% static '/images/images2.jpg' %}"
                            alt="Bilal Babale"
                            class="module-image"
                        />
                        <div class="module-info">
                        <div class="module-title">
                            <h4>Introduction to GIS for Microplanning</h4>
                            <a href="" class="course-name">
                                <p>Introduction to GIS for Microplanning</p>
                            </a>
                        </div>
                        <div class="training-material">
                            <p class="value">2</p>
                            <h2 class="title">materials</h2>
                        </div>
                        <div class="quizes">
                            <p class="value">2</p>
                            <h2 class="title">Quizes</h2>
                        </div>
                        </div>
                        <div class="completion">
                        <canvas class="module-chart" width="60px" ></canvas>
                        <p class="value">55%</p>
                        <h2 class="title">Completed</h2>
                        </div>
                    </li>
                    <li class="module">
                        <img
                            src="{% static '/images/images2.jpg' %}"
                            alt="Bilal Babale"
                            class="module-image"
                        />
                        <div class="module-info">
                        <div class="module-title">
                            <h4>Introduction to GIS for Microplanning</h4>
                            <a href="" class="course-name">
                                <p>Introduction to GIS for Microplanning</p>
                            </a>
                        </div>
                        <div class="training-material">
                            <p class="value">2</p>
                            <h2 class="title">materials</h2>
                        </div>
                        <div class="quizes">
                            <p class="value">2</p>
                            <h2 class="title">Quizes</h2>
                        </div>
                        </div>
                        <div class="completion">
                        <canvas class="module-chart" width="60px" ></canvas>
                        <p class="value">55%</p>
                        <h2 class="title">Completed</h2>
                        </div>
                    </li>
                    <li class="module">
                        <img
                            src="{% static '/images/images2.jpg' %}"
                            alt="Bilal Babale"
                            class="module-image"
                        />
                        <div class="module-info">
                        <div class="module-title">
                            <h4>Introduction to GIS for Microplanning</h4>
                            <a href="" class="course-name">
                                <p>Introduction to GIS for Microplanning</p>
                            </a>
                        </div>
                        <div class="training-material">
                            <p class="value">2</p>
                            <h2 class="title">materials</h2>
                        </div>
                        <div class="quizes">
                            <p class="value">2</p>
                            <h2 class="title">Quizes</h2>
                        </div>
                        </div>
                        <div class="completion">
                        <canvas class="module-chart" width="60px" ></canvas>
                        <p class="value">55%</p>
                        <h2 class="title">Completed</h2>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="course-complete">
                    <h3>Completed Courses</h3>
                    <div class="course-card">
                        <img src="{% static '/images/images2.jpg' %}" alt="" class="course-card-img">
                        <div class="course-card-text">
                            <p class="course-card-author">Al-amin Ahmad Abbas</p>
                            <h4 class="course-card-title">Introduction to GIS for Microplanning </h4>
                             <div class="progress-container">
                                <p class= "course-card-modules">
                                    8 Modules
                                </p>
                                <div class="course-card-progress">
                                    <canvas class="progress-chart" width="80px"></canvas>
                                    <p class="course-progress-text">100%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="average-performance1">
                    <h3>Average Score</h3>
                    <span></span>
                    <p>85% <br /><span>score</span></p>
                </div>
            </section>
        </div>
       
    </main>
{% endblock  %}