{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href= {% static 'base.css' %}>
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon" />
    {% block  css_link %}{% endblock  %}
    <title> {% block title  %}{% endblock  %}</title>
  </head>
    <body>
      <header>
        <div id="header-container">
            <a href={% url 'index' %} id ="logo">
                <img src={% static '/images/sog logo white.png' %} alt="" id="logo-image">
                <p id="logo-name">School of GIS</p>
            </a>
            <div id="profile">
                <a href="" id="user-group" >
                   <div class="profile">
                    <img src={% static "/images/profile.png" %} alt="profile pic" id="profile-pic" />
                    <span class="notification"></span>
                   </div>
                    <p class="user-name"> Abdullahi</p>
                  </a>
                  {% if  not user.is_authenticated %}
                    <a href="{% url 'login_page' %}">
                      <p id="profile-name">Login</p>
                    </a>
                  {% else %}
                    <a href="{% url 'logout_page' %}">
                      <p id="profile-name">Logout</p>
                    </a>
                  {% endif %}
                  
            </div>
        </div>
       
    </header>
    {% block  navigation %}{% endblock  %}
    {% block main %}{% endblock  %}
    <footer>
      <div id="logo">
        <img src="{% static '/images/sog logo white.png' %}" alt="PP" id="logo-image" />
        <p id="logo-name">School of GIS</p>
      </div>
      <div id="footer-links">
        <a href="" class="footer-link">About</a>
        <a href="" class="footer-link">Properties</a>
        <a href="" class="footer-link">Support</a>
      </div>
      <div id="social-links">
        <a href="" class="social-link">
          <img src="{% static '/images/facebook-brands 1.png' %}" alt="facebook link">
        </a>
        <a href="" class="social-link">
          <img src="{% static '/images/instagram-square-brands 1.png' %}" alt="instagram link">
        </a>
        <a href="" class="social-link">
          <img src="{% static '/images/twitter-brands 1.png' %}" alt="twitter link">
        </a>
        <a href="" class="social-link">
          <img src="{% static '/images/telegram-brands 1.png' %}" alt="telegram link">
        </a>
        <a href="" class="social-link">
          <img src="{% static '/images/snapchat-square-brands 1.png' %}" alt="snapchat link">
        </a>
      </div>
      <div id="copyright">
        <p>©2010 — 2020</p>
        <a href="">Privacy — Terms</a>
      </div>
  </footer>
  </body>
</html>