#side {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-blue-300);
  height: 100%;
  width: 12rem;
  overflow: hidden;
  transition: width ease-out 2s;
}
#side.active{
  width: 5rem;
  transition: width ease-in 2s;
}
#side nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#hamburger{
  display: flex;
  flex-direction: column;
  width: 50px;
  margin: 2rem auto;
  transition: transform ease 2s;
  transform: rotate(-360deg);
}
#hamburger.active{
transition: transform ease 2s;

transform: rotate(360deg);
}

.dash{
  padding: 2px;
  margin: .3rem;
  background-color: var(--color-primary-white-500);
}



#side-drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem .2rem;
}
.side-btn {
  margin-bottom: 2rem;
  margin-left: 0;
}
.side-btn-text  {
  text-decoration: none;
  color: var(--color-primary-white-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}


.side-btn:nth-of-type(1) .side-btn-text {
  color: var(--color-primary-white-500);
  font-weight: bold;
  border-left: solid 2px var(--color-primary-blue-500);
}

.nav-text{
  display: block;
  font-size: var(--size-2);
  transition: display ease 2s;
}
.nav-text.active{
  display: none;
  transition: display ease 2s;
}

.nav-img{
  width: 25px;
  margin-right: 0.5rem;
  transition: width ease 2s;
}
.nav-img.active{
  width: 40px;
  transition: width ease 2s;
  margin: auto;
}
.side-btn-text:hover {
  background-color: var(--color-primary-white-500);
  color: var(--color-primary-blue-300);
  border-radius: 4px;
}
.side-btn:nth-of-type(1) .side-btn-text:hover {
  color: var(--color-primary-blue-300);
  font-weight: bold;
  border-left: solid 2px red;
}
#side-footer {
  width: 70%;
  margin: 0 auto 2rem auto;
  background-image: url("/images/steamledge_logo 2.png");
  background-position: right;
  background-size: 50%;
  background-color: rgba(3, 61, 99);
  color: var(--color-primary-white-500);
  font-size: var(--size-1);
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
}
#nav-group {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem 0;
  background-color: var(--color-primary-white-500);
  position: fixed;
  bottom: 0;
}

.nav-btn-text {
 
  display: flex;
  flex-direction: column;
  align-items: center;

}

.nav-btn-text p {
  text-decoration: none;
  color: var(--color-primary-black-100);
  font-size: var(--size-2);
}

.nav-btn-text img {
  width: 20px;
}

#side {
  display: none;
}

#profile-section {
  display: none;
}
@media screen and (min-width: 1090px) {
  #bottom {
    display: none;
  }
  #side,
  #profile-section {
    display: flex;
  }
  
  #notification {
    width: 10px;
    height: 10px;
    background-color: rgb(50, 200, 50);
    border-radius: 5px;
    display: block;
    margin-left: -0.7rem;
  }
  .profile {
    padding: 0.5rem;
  }
  
}

@media screen and (max-width: 290px) {
  .nav-btn-text p{
    display: none;
  }
  
}
